
body {
    background-image: url("../images/vegas-view.jpg");
}
.container {
    height: 800px;
    background-color: rgba(32, 32, 32, 0.7);
}

.vegas-logo {
    margin-top: 15px;
}

.navbar-right {
    margin-top: 80px;
}

.navbar-right li {
    margin-right: 50px;
}

.content {
    margin-top: 200px;
}

.flip-clock-label {
    color: #ffffff !important;
    font-size: 1.3em !important;
}

.carousel-inner .item {
    height: 468px;
}