.background {
    height: 1000px;
    background-image: url("../images/vegas-view.jpg");
    background-position: 0 0;
}

.navbar {
    height: 220px;
    opacity: 0.8;
}

.navbar-header {
    height: 100%;
}

.navbar-right {
    margin-top: 80px;
}

.navbar-right li {
    margin-right: 50px;
}

.flip-clock-label {
    color: #ffffff !important;
    font-size: 1.3em !important;
}