
body {
  font-family: 'Raleway', sans-serif;
  background: url('../images/chilcotins.jpg') no-repeat fixed center;
  background-size: cover;
  line-height: 1.5;
  color: white;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 279%;
  margin-bottom: 10px;
}

.container {
  width: 80%;
  max-width: 440px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 40px;
  font-weight: 200;
  margin: 16vh auto;
  transform: translateY(-10%);
}

.social-link {
  text-decoration: none;
  padding: 5px;
}

.quote {
  font-style: italic;
}